node_modules/
backend/node_modules/
frontend/node_modules/
venv/
.env
**/.env
backend/uploads/
__pycache__/
.DS_Store
*.csv
!venv/earthquake.csv
!backend/data/pakistan_rainfall.csv
!model_training/Climate-Disasters-Warning-Systems-main/Fire Detection/forestfires.csv
frontend/dist/
model_training/**/Data/
*.log
