# Ignore local dependencies and environments
node_modules/
venv/
.env
.env.example

# Ignore Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local logs and OS artifacts
*.log
.DS_Store
.vscode/
.git/
.github/
